@charset "utf-8";
/* CSS Document */


*
{
	margin:0px;
	padding:0px;
}


#MENU ul
{
	list-style:none;
}


#MENU ul li
{
	float:left;
	width:150px;
	display:block;
	text-align:center;
	background-color:burlywood;
	border:1px solid white;
	height:35px;
	line-height:35px;
	position:relative;
}


#MENU ul li a
{
	
	text-decoration:none;
	color:white;
	display:block;
}


#MENU ul li a:hover
{
	 background-color:blue;
	 
}


#MENU ul ul
{
	position:absolute;
	display:none;
}


#MENU ul li:hover > ul
{
	display:block;
}









